Template: @@NAME@@/add-ashbolt-repo
Type: boolean
Default: true
Description: Add Ashbolt apt repository?
 The installer would like to add the Ashbolt repository and signing
 key to update Ashbolt through apt.
